<ion-header>
  <ion-toolbar>
    <ion-title>My Tags</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Text Items -->
  <ion-list>
    <ion-item>
      <ion-label>
        <h1>My Favorite Tags</h1>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let tag of this.userService.selectedUser.tags; let i = index">
      <ion-label>{{tag}}  <ion-icon color="danger" name="trash" (click)="(deleteTag(i))"></ion-icon> </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h1>New Taggs</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tags</ion-label>
      <ion-select #S (ionChange)="addTags(S.value)" multiple="true" cancelText="Nah" okText="Okay!">
        <ion-select-option value="Ciencia">Ciencia</ion-select-option>
        <ion-select-option value="Cultura">Cultura</ion-select-option>
        <ion-select-option value="Moda">Moda</ion-select-option>
        <ion-select-option value="Negocios">Negocios</ion-select-option>
      </ion-select>
    </ion-item>



    <!-- <ion-item>
        <ion-button color="primary" (click)="updateTags()" >Save New Taggs</ion-button>
    </ion-item> -->
  </ion-list>

</ion-content>