<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news-feed">
      <ion-icon name="paper"></ion-icon>
      <ion-label>News Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login" *ngIf="!this.userService.loggedIn">
      <ion-icon name="person"></ion-icon>
      <ion-label>Log In</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logOut()" *ngIf="this.userService.loggedIn">
      <ion-icon name="remove-circle"></ion-icon>
      <ion-label>Log Out</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="myTags" *ngIf="this.userService.loggedIn">
        <ion-icon name="bookmark"></ion-icon>
        <ion-label>My Tags</ion-label>
      </ion-tab-button>

    <!-- <ion-tab-button tab="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Tab Three</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>