<ion-header>
  <ion-toolbar>
    <ion-title>News Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-card *ngIf=this.userService.mostrarNegocios>
      <ion-card *ngFor="let noticia of testArrayNegocios">
        <ion-img src={{noticia.imageURL}}></ion-img>
        <ion-card-header>
          <ion-card-title> {{noticia.title}} </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{noticia.description}}
        </ion-card-content>

      </ion-card>
    </ion-card>

    <ion-card *ngIf=this.userService.mostrarCiencia>
      <ion-card *ngFor="let noticia of testArrayCiencia">
        <ion-img src={{noticia.imageURL}}></ion-img>
        <ion-card-header>
          <ion-card-title> {{noticia.title}} </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{noticia.description}}
        </ion-card-content>
      </ion-card>
    </ion-card>

    <ion-card *ngIf=this.userService.mostrarCultura>  
      <ion-card *ngFor="let noticia of testArrayCultura">
        <ion-img src={{noticia.imageURL}}></ion-img>
        <ion-card-header>
          <ion-card-title> {{noticia.title}} </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{noticia.description}}
        </ion-card-content>

      </ion-card>
    </ion-card>

    <ion-card *ngIf=this.userService.mostrarModa>
      <ion-card *ngFor="let noticia of testArrayModa">
        <ion-img src={{noticia.imageURL}}></ion-img>
        <ion-card-header>
          <ion-card-title> {{noticia.title}} </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{noticia.description}}
        </ion-card-content>

      </ion-card>
    </ion-card>

  </ion-list>

  <!-- <script>
      const url = 'http://devblog.ricky.me/rss.xml'
      const textarea = document.getElementById('rickys-blog-textarea')
      feednami.load(url)
        .then(feed => {
          textarea.value = ''
          console.log(feed)
          for(let entry of feed.entries){
            textarea.value += `${entry.title}\n${entry.link}\n\n`
          }
        })
    </script> -->


</ion-content>