<ion-header>
  <ion-toolbar>
    <ion-title>News Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <ion-item>
        <ion-img src={{new.imageUrl}}></ion-img>       
    </ion-item>
    <ion-item lines="none">
        <ion-label> {{new.title}} </ion-label>
    </ion-item>
    <ion-item>
        <ion-card> {{new.description}} </ion-card>
    </ion-item> -->
    {{noticias[0].title}}
    <ion-card > 
        <!-- <ion-img src={{new.imageUrl}}></ion-img>  -->
        <ion-card-header>
          
          <ion-card-title> {{noticia}} </ion-card-title>
        </ion-card-header>
      
        <!-- <ion-card-content>
            {{new.description}}
        </ion-card-content> -->
      </ion-card>
      <ion-button (click)="ciclo()" > hola </ion-button>

  </ion-list>

  <script>
      const url = 'http://devblog.ricky.me/rss.xml'
      const textarea = document.getElementById('rickys-blog-textarea')
      feednami.load(url)
        .then(feed => {
          textarea.value = ''
          console.log(feed)
          for(let entry of feed.entries){
            textarea.value += `${entry.title}\n${entry.link}\n\n`
          }
        })
    </script>

    
</ion-content>